.version.index /* version checker */
{
	color: #0000FF;
	background-color: #8A2BEF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4455px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu75
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu75
{
	z-index: 282;
	width: 0.01px;
	height: 494px;
	position: relative;
	margin-right: -10000px;
}

#u77
{
	position: absolute;
	width: 1160px;
	height: 494px;
	background-color: transparent;
}

#u77popup
{
	z-index: 283;
}

#u4198
{
	z-index: 284;
	width: 1160px;
	height: 494px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1187-4
{
	z-index: 286;
	min-height: 118px;
	background-color: transparent;
	line-height: 102px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 85px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1187-2
{
	padding-right: 100px;
	padding-left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1187-4-bw
{
	z-index: 286;
	min-height: 118px;
	margin-top: 182px;
}

#u1189-6
{
	z-index: 290;
	min-height: 34px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0px;
	color: #F4F4F4;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1189-2,#u1189-4
{
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 9px;
}

#u1189-6-bw
{
	z-index: 290;
	min-height: 34px;
	margin-top: -161px;
	margin-bottom: -62px;
}

#u1180
{
	z-index: 259;
	height: 97px;
	border-style: solid;
	border-color: #E8E8E8;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u1180-bw
{
	z-index: 259;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 494px;
}

#u1186
{
	z-index: 260;
	width: 960px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 524px;
	left: 0px;
}

#u1185-4
{
	z-index: 269;
	width: 189px;
	min-height: 34px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1185-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1185-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1185-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#pu1182-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 189px;
}

#u1182-4
{
	z-index: 261;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u1183-4
{
	z-index: 265;
	width: 192px;
	min-height: 34px;
	border-style: solid;
	border-color: #D6D6D6;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px;
}

#u1183-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u1182-4:hover p,#u1183-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#pu5637-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 574px;
}

#u5637-4
{
	z-index: 273;
	width: 192px;
	min-height: 34px;
	border-style: solid;
	border-color: #D6D6D6;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px;
}

#u1183-4.MuseLinkActive,#u5637-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5637-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5637-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#u5640-5
{
	z-index: 277;
	width: 193px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u1182-4:hover,#u5640-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5640-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5640-5:hover p,#u5640-5:hover span
{
	color: #A8A8A8;
	visibility: inherit;
}

#u1185-4.MuseLinkActive p,#u1183-4.MuseLinkActive p,#u5637-4.MuseLinkActive p,#u5640-5.MuseLinkActive p,#u5640-5.MuseLinkActive span
{
	color: #B5B5B5;
	visibility: inherit;
}

#u5640
{
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}

#u5640-2
{
	line-height: 14px;
}

#about
{
	margin-left: 469px;
	margin-top: 110px;
	position: relative;
}

#pu1192-4
{
	width: 0.01px;
	margin-left: 347px;
	margin-top: -1px;
}

#u1192-4
{
	z-index: 27;
	width: 257px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1999
{
	z-index: 57;
	width: 267px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1998
{
	z-index: 59;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u1997
{
	z-index: 58;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#u1294-4
{
	z-index: 19;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 9px;
	position: relative;
}

#u1191-4
{
	z-index: 11;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1196-4
{
	z-index: 15;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5645-4
{
	z-index: 94;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 8px;
	position: relative;
}

#pu1191-4,#pu5643-17
{
	width: 0.01px;
	margin-top: 7px;
}

#u5643-17
{
	z-index: 65;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5644-12
{
	z-index: 82;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5644-2
{
	font-weight: 400;
	line-height: 21px;
}

#u5644-7
{
	font-style: italic;
	line-height: 21px;
}

#u5644,#u5644-3,#u5644-4,#u5644-6,#u5644-8
{
	line-height: 21px;
}

#u5644-9
{
	font-size: 9px;
	line-height: 13px;
}

#u5764-4
{
	z-index: 116;
	width: 506px;
	min-height: 41px;
	background-color: transparent;
	margin-left: 227px;
	margin-top: 98px;
	position: relative;
}

#pu5765
{
	width: 0.01px;
	margin-top: 13px;
}

#u5765
{
	z-index: 120;
	width: 469px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6562-17
{
	z-index: 210;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5772-4
{
	z-index: 121;
	width: 570px;
	min-height: 41px;
	background-color: transparent;
	margin-left: 195px;
	margin-top: 35px;
	position: relative;
}

#pu5773
{
	width: 0.01px;
	margin-top: 15px;
}

#u5773
{
	z-index: 125;
	width: 469px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6565-14
{
	z-index: 227;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u6562-2,#u6565-2
{
	font-size: 17px;
	line-height: 24px;
	font-weight: 400;
}

#u6571-4
{
	z-index: 255;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 27px;
	position: relative;
}

#pu6569-7
{
	width: 0.01px;
	margin-top: 8px;
}

#u6569-7
{
	z-index: 241;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6570-7
{
	z-index: 248;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#about2
{
	margin-left: 469px;
	margin-top: 87px;
	position: relative;
}

#u5741-4
{
	z-index: 98;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u5742
{
	z-index: 102;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u5743
{
	z-index: 104;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u5744
{
	z-index: 103;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u5758-6
{
	z-index: 106;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5758-2
{
	font-style: italic;
}

#u5758-3
{
	font-style: normal;
}

#u5759-4
{
	z-index: 112;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#about3
{
	margin-left: 469px;
	margin-top: 367px;
	position: relative;
}

#u6520-4
{
	z-index: 126;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6521
{
	z-index: 130;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u6522
{
	z-index: 132;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6523
{
	z-index: 131;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#pu5758-6,#pu6525-20
{
	width: 0.01px;
	margin-top: 10px;
}

#u6525-20
{
	z-index: 134;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6526-4
{
	z-index: 154;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#about4
{
	margin-left: 469px;
	margin-top: 34px;
	position: relative;
}

#pu5741-4,#pu6520-4,#pu6541-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 2px;
}

#u6541-4
{
	z-index: 158;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6542
{
	z-index: 162;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u6543
{
	z-index: 164;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6544
{
	z-index: 163;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#pu6546-22
{
	width: 0.01px;
	margin-top: 11px;
}

#u6546-22
{
	z-index: 166;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6547-22
{
	z-index: 188;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#gallery
{
	margin-left: 469px;
	margin-top: 92px;
	position: relative;
}

#pu1262-4
{
	width: 0.01px;
	margin-left: 347px;
	margin-top: 24px;
}

#u1262-4
{
	z-index: 31;
	width: 257px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u2003
{
	z-index: 60;
	width: 267px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u2004
{
	z-index: 62;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u2005
{
	z-index: 61;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#slideshowu1326
{
	z-index: 35;
	width: 0.01px;
	height: 544px;
	margin-top: 112px;
	position: relative;
}

#u1327
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1138px;
}

#u1327popup
{
	z-index: 36;
}

#u6402
{
	z-index: 37;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6402_img
{
	padding: 72px 138px 72px 137px;
}

#u6442
{
	z-index: 39;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6442_img
{
	padding-left: 145px;
	padding-right: 146px;
}

#u6462
{
	z-index: 41;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6462_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u1346
{
	position: absolute;
	width: 960px;
}

#u1346popup
{
	z-index: 43;
}

#u6408
{
	z-index: 44;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6448
{
	z-index: 46;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u6408:hover,#u6448:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6468
{
	z-index: 48;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u6468:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u6468_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u1365-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1228px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u1365-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1365-3popup
{
	z-index: 50;
}

#u1345-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -170px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u1345-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1345-3popup
{
	z-index: 53;
}

#u1363
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -700px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u1363:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

#u1296-4
{
	z-index: 23;
	width: 356px;
	min-height: 41px;
	background-color: transparent;
	margin-left: 302px;
	top: -650px;
	margin-bottom: -41px;
	position: relative;
}

#u2163-9
{
	z-index: 2;
	width: 960px;
	min-height: 117px;
	background-color: transparent;
	margin-top: 674px;
	position: relative;
}

#u2163
{
	font-size: 17px;
	text-align: center;
	line-height: 24px;
}

#u5640-3,#u5644-10,#u2163-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2163-3
{
	font-size: 36px;
	color: #FF0000;
	line-height: 65px;
}

#u2163-2,#u2163-4
{
	line-height: 23px;
}

#u2163-7
{
	font-size: 7px;
	line-height: 7px;
	letter-spacing: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

