.version.index /* version checker */
{
	color: #00000C;
	background-color: #195CD1;
}

#page
{
	border-width: 0px;
	background-color: transparent;
	z-index: 1;
	margin-right: auto;
	background-image: none;
	border-color: #000000;
	margin-left: auto;
}

#u1185-4
{
	background-color: transparent;
	line-height: 14px;
	margin-bottom: -1px;
	min-height: 34px;
	position: relative;
	z-index: 356;
	border-style: solid;
	margin-right: -10000px;
	border-color: #D6D6D6;
	border-width: 0px 1px 1px;
}

#u1185-4:hover,#u1185-4.MuseLinkActive
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	min-height: 34px;
}

#u5640-5
{
	background-color: transparent;
	line-height: 14px;
	min-height: 34px;
	position: relative;
	z-index: 360;
	border-style: solid;
	border-color: #D6D6D6;
	border-width: 0px 1px 1px;
}

#u5640-5:hover,#u5640-5.MuseLinkActive
{
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 34px;
}

#u5640
{
	line-height: 17px;
	font-size: 14px;
	font-weight: 500;
}

#u5640-2
{
	line-height: 14px;
}

#slideshowu75
{
	z-index: 365;
	height: 494px;
	margin-right: -10000px;
	width: 0.01px;
	position: relative;
}

#u77
{
	background-color: transparent;
	position: absolute;
	height: 494px;
}

#u77popup
{
	z-index: 366;
}

#u4198
{
	border-width: 0px;
	background-color: transparent;
	z-index: 367;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	height: 494px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1180
{
	background-color: #FFFFFF;
	z-index: 342;
	border-style: solid;
	border-color: #D6D6D6;
	position: relative;
	border-width: 1px 0px;
}

#u1186
{
	border-width: 0px;
	background-color: transparent;
	z-index: 343;
	margin-top: -1px;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#pu1182-4
{
	margin-right: -10000px;
}

#u1182-4
{
	background-color: transparent;
	z-index: 344;
	line-height: 14px;
	margin-right: -10000px;
	min-height: 34px;
	position: relative;
}

#u1183-4
{
	background-color: transparent;
	line-height: 14px;
	min-height: 34px;
	position: relative;
	z-index: 348;
	border-style: solid;
	margin-right: -10000px;
	border-color: #D6D6D6;
	border-width: 0px 1px;
}

#u5637-4
{
	background-color: transparent;
	line-height: 14px;
	min-height: 34px;
	position: relative;
	z-index: 352;
	border-style: solid;
	margin-right: -10000px;
	border-color: #D6D6D6;
	border-width: 0px 1px;
}

#u1185-4:hover p,#u5640-5:hover p,#u5640-5:hover span,#u1182-4:hover p,#u1183-4:hover p,#u5637-4:hover p
{
	visibility: inherit;
	color: #A8A8A8;
}

#u1182-4:hover,#u1182-4.MuseLinkActive,#u1183-4:hover,#u1183-4.MuseLinkActive,#u5637-4:hover,#u5637-4.MuseLinkActive
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 34px;
}

#u1185-4.MuseLinkActive p,#u5640-5.MuseLinkActive p,#u5640-5.MuseLinkActive span,#u1182-4.MuseLinkActive p,#u1183-4.MuseLinkActive p,#u5637-4.MuseLinkActive p
{
	visibility: inherit;
	color: #B5B5B5;
}

#u1192-4
{
	background-color: transparent;
	z-index: 24;
	line-height: 36px;
	margin-right: -10000px;
	width: 257px;
	min-height: 53px;
	position: relative;
}

#u1999
{
	border-width: 0px;
	background-color: transparent;
	z-index: 86;
	margin-right: -10000px;
	width: 267px;
	border-color: transparent;
	position: relative;
}

#u1998
{
	background-color: #3E3E3E;
	z-index: 88;
	margin-right: -10000px;
	width: 47px;
	position: relative;
	height: 5px;
}

#u1997
{
	background-color: #3E3E3E;
	z-index: 87;
	margin-right: -10000px;
	width: 47px;
	position: relative;
	height: 5px;
}

#u1294-4
{
	background-color: transparent;
	z-index: 20;
	position: relative;
	width: 356px;
	min-height: 40px;
}

#u1191-4
{
	background-color: transparent;
	z-index: 12;
	position: relative;
	min-height: 119px;
}

#u1196-4
{
	background-color: transparent;
	z-index: 16;
	position: relative;
	min-height: 107px;
}

#u5645-4
{
	background-color: transparent;
	z-index: 141;
	position: relative;
	width: 356px;
	min-height: 40px;
}

#u5643-20
{
	background-color: transparent;
	z-index: 91;
	position: relative;
	min-height: 119px;
}

#u5644-30
{
	background-color: transparent;
	z-index: 111;
	position: relative;
	min-height: 107px;
}

#u5644-2
{
	font-weight: 400;
}

#u5764-4
{
	background-color: transparent;
	z-index: 163;
	position: relative;
	width: 506px;
	min-height: 41px;
}

#u5765
{
	border-width: 0px;
	background-color: transparent;
	z-index: 167;
	border-color: transparent;
	min-height: 308px;
	width: 449px;
	position: relative;
}

#u5772-4
{
	background-color: transparent;
	z-index: 168;
	position: relative;
	width: 570px;
	min-height: 41px;
}

#u5773
{
	border-width: 0px;
	background-color: transparent;
	z-index: 172;
	border-color: transparent;
	min-height: 308px;
	width: 449px;
	position: relative;
}

#u6571-4
{
	background-color: transparent;
	z-index: 330;
	position: relative;
	width: 356px;
	min-height: 40px;
}

#u6569-7
{
	background-color: transparent;
	z-index: 316;
	position: relative;
	min-height: 119px;
}

#u6570-7
{
	background-color: transparent;
	z-index: 323;
	position: relative;
	min-height: 107px;
}

#u5741-4
{
	background-color: transparent;
	z-index: 145;
	line-height: 36px;
	margin-right: -10000px;
	width: 401px;
	min-height: 53px;
	position: relative;
}

#u5742
{
	border-width: 0px;
	background-color: transparent;
	z-index: 149;
	margin-top: 23px;
	margin-right: -10000px;
	width: 531px;
	border-color: transparent;
	position: relative;
}

#u5743
{
	background-color: #3E3E3E;
	z-index: 151;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u5744
{
	background-color: #3E3E3E;
	z-index: 150;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u5758-6
{
	background-color: transparent;
	z-index: 153;
	position: relative;
	min-height: 84px;
}

#u5644-7,#u5758-2
{
	font-style: italic;
}

#u5758-3
{
	font-style: normal;
}

#u5759-4
{
	background-color: transparent;
	z-index: 159;
	position: relative;
	min-height: 84px;
}

#u6520-4
{
	background-color: transparent;
	z-index: 173;
	line-height: 36px;
	margin-right: -10000px;
	width: 401px;
	min-height: 53px;
	position: relative;
}

#u6521
{
	border-width: 0px;
	background-color: transparent;
	z-index: 177;
	margin-top: 23px;
	margin-right: -10000px;
	width: 531px;
	border-color: transparent;
	position: relative;
}

#u6522
{
	background-color: #3E3E3E;
	z-index: 179;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u6523
{
	background-color: #3E3E3E;
	z-index: 178;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u6525-26
{
	background-color: transparent;
	z-index: 181;
	position: relative;
	min-height: 84px;
}

#u6526-26
{
	background-color: transparent;
	z-index: 207;
	position: relative;
	min-height: 84px;
}

#u6541-4
{
	background-color: transparent;
	z-index: 233;
	line-height: 36px;
	margin-right: -10000px;
	width: 401px;
	min-height: 53px;
	position: relative;
}

#u6542
{
	border-width: 0px;
	background-color: transparent;
	z-index: 237;
	margin-top: 24px;
	margin-right: -10000px;
	width: 531px;
	border-color: transparent;
	position: relative;
}

#u6543
{
	background-color: #3E3E3E;
	z-index: 239;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u6544
{
	background-color: #3E3E3E;
	z-index: 238;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u6546-22
{
	background-color: transparent;
	z-index: 241;
	position: relative;
	min-height: 84px;
}

#u6547-22
{
	background-color: transparent;
	z-index: 263;
	position: relative;
	min-height: 84px;
}

#slideshowu1326
{
	z-index: 28;
	width: 0.01px;
	position: relative;
}

#u1327
{
	border-width: 0px;
	background-color: #3E3E3E;
	width: 959px;
	border-color: transparent;
	position: absolute;
	height: 686px;
}

#u1327popup
{
	z-index: 29;
}

#u6402
{
	top: 22px;
	background-color: transparent;
	z-index: 30;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6402_img
{
	padding: 72px 138px 72px 137px;
}

#u6442
{
	top: 22px;
	background-color: transparent;
	z-index: 32;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6442_img
{
	padding-right: 146px;
	padding-left: 145px;
}

#u6462
{
	top: 22px;
	background-color: transparent;
	z-index: 34;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6682
{
	top: 22px;
	background-color: transparent;
	z-index: 36;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6702
{
	top: 22px;
	background-color: transparent;
	z-index: 38;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6702_img
{
	padding-right: 225px;
	padding-left: 224px;
}

#u6722
{
	top: 22px;
	background-color: transparent;
	z-index: 40;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6762
{
	top: 22px;
	background-color: transparent;
	z-index: 42;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6782
{
	top: 22px;
	background-color: transparent;
	z-index: 44;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6802
{
	top: 22px;
	background-color: transparent;
	z-index: 46;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6802_img
{
	padding-right: 250px;
	padding-left: 249px;
}

#u6822
{
	top: 22px;
	background-color: transparent;
	z-index: 48;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6842
{
	top: 22px;
	background-color: transparent;
	z-index: 50;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6682_img,#u6722_img,#u6822_img,#u6842_img
{
	padding-right: 224px;
	padding-left: 223px;
}

#u6742
{
	top: 22px;
	background-color: transparent;
	z-index: 52;
	left: 22px;
	margin-right: -10000px;
	width: 915px;
	position: relative;
	height: 624px;
}

#u6462_img,#u6762_img,#u6782_img,#u6742_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u1346
{
	position: absolute;
}

#u1346popup
{
	z-index: 54;
}

#u6408
{
	border-width: 0px;
	background-color: transparent;
	z-index: 55;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6448
{
	border-width: 0px;
	background-color: transparent;
	z-index: 57;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6448:hover
{
	border-radius: 0px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	margin: 0px -10000px 0px 0px;
}

#u6468
{
	border-width: 0px;
	background-color: transparent;
	z-index: 59;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6688
{
	border-width: 0px;
	background-color: transparent;
	z-index: 61;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6708
{
	border-width: 0px;
	background-color: transparent;
	z-index: 63;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6728
{
	border-width: 0px;
	background-color: transparent;
	z-index: 65;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6768
{
	border-width: 0px;
	background-color: transparent;
	z-index: 67;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6788
{
	border-width: 0px;
	background-color: transparent;
	z-index: 69;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6808
{
	border-width: 0px;
	background-color: transparent;
	z-index: 71;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6828
{
	border-width: 0px;
	background-color: transparent;
	z-index: 73;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6848
{
	border-width: 0px;
	background-color: transparent;
	z-index: 75;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6748
{
	border-width: 0px;
	background-color: transparent;
	z-index: 77;
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
}

#u6408:hover,#u6468:hover,#u6688:hover,#u6708:hover,#u6728:hover,#u6768:hover,#u6788:hover,#u6808:hover,#u6828:hover,#u6848:hover,#u6748:hover
{
	margin-right: -10000px;
	filter: alpha(opacity=80);
	margin-bottom: 0px;
	margin-left: 0px;
	border-radius: 0px;
	opacity: 0.8;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#u1365-3
{
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-radius: 100px;
	min-height: 74px;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	width: 74px;
	border-color: #474747;
	position: absolute;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u1365-3popup
{
	z-index: 79;
}

#u1365-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	border-radius: 100px;
	width: 74px;
	border-color: #FFFFFF;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1345-3
{
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-radius: 100px;
	min-height: 74px;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	width: 74px;
	border-color: #474747;
	position: absolute;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u1345-3popup
{
	z-index: 82;
}

#u1345-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	border-radius: 100px;
	width: 74px;
	border-color: #FFFFFF;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1363
{
	border-width: 3px;
	border-style: solid;
	border-radius: 200px;
	width: 77px;
	border-color: #474747;
	position: absolute;
	height: 77px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u1363:hover
{
	min-height: 0px;
	border-radius: 100px;
	width: 77px;
	border-color: #FFFFFF;
	height: 77px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

#u6862-5
{
	background-color: transparent;
	z-index: 334;
	line-height: 36px;
	margin-right: -10000px;
	width: 401px;
	min-height: 53px;
	position: relative;
}

#u6862
{
	font-weight: 500;
}

#u6863
{
	border-width: 0px;
	background-color: transparent;
	z-index: 339;
	margin-top: 24px;
	margin-right: -10000px;
	width: 531px;
	border-color: transparent;
	position: relative;
}

#u6865
{
	background-color: #3E3E3E;
	z-index: 341;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u6864
{
	background-color: #3E3E3E;
	z-index: 340;
	margin-right: -10000px;
	width: 45px;
	position: relative;
	height: 5px;
}

#u2163-10
{
	background-color: transparent;
	z-index: 2;
	position: relative;
	min-height: 117px;
}

#u2163
{
	line-height: 24px;
	font-size: 17px;
	text-align: center;
}

#u5640-3,#u2163-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2163-3
{
	color: #FF0000;
	line-height: 65px;
	font-size: 36px;
}

#u2163-2,#u2163-4
{
	line-height: 23px;
}

#u2163-8
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	font-size: 7px;
	letter-spacing: 0px;
}

#u2163-6
{
	line-height: 7px;
}

#u2163-7
{
	line-height: 1px;
	font-size: 1px;
}

#u6562-17
{
	background-color: transparent;
	z-index: 285;
	position: relative;
	min-height: 107px;
}

#u6565-14
{
	background-color: transparent;
	z-index: 302;
	position: relative;
	min-height: 107px;
}

#u6562-2,#u6565-2
{
	line-height: 24px;
	font-size: 17px;
	font-weight: 400;
}

.html
{
	background-color: #FFFFFF;
}

#info,#register,#hotelsandrestaurants,#tourism,#gallery,body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 960px;
		min-height: 4455px;
	}

	#page_position_content
	{
		padding-bottom: 20px;
		width: 0.01px;/* should not cover content below */
	}

	#pu1180
	{
		width: 0.01px;
		margin-left: -100px;
	}

	#u1180
	{
		width: 1160px;
		margin-bottom: -1px;
		margin-right: -10000px;
		margin-top: 530px;
	}

	#u1186
	{
		width: 579px;
		left: 289px;
	}

	#pu1182-4
	{
		width: 0.01px;
	}

	#u1182-4
	{
		width: 193px;
		left: 193px;
	}

	#u1182-4:hover
	{
		margin-left: 0px;
		width: 193px;
	}

	#u1182-4.MuseLinkActive
	{
		margin-left: 0px;
		width: 193px;
	}

	#u1183-4
	{
		width: 192px;
	}

	#u1183-4:hover
	{
		margin-left: 0px;
		width: 192px;
	}

	#u5637-4
	{
		width: 192px;
		left: 386px;
	}

	#u1183-4.MuseLinkActive,#u5637-4:hover
	{
		margin-left: 0px;
		width: 192px;
	}

	#u5637-4.MuseLinkActive
	{
		margin-left: 0px;
		width: 192px;
	}

	#u1185-4
	{
		width: 188px;
		margin-top: -1px;
		left: 100px;
	}

	#u1185-4:hover
	{
		margin-left: 0px;
		margin-top: -1px;
		width: 188px;
	}

	#u1185-4.MuseLinkActive
	{
		margin-left: 0px;
		margin-top: -1px;
		width: 188px;
	}

	#u5640-5
	{
		width: 192px;
		margin-bottom: -1px;
		margin-right: -10000px;
		margin-top: -1px;
		left: 867px;
	}

	#u5640-5:hover
	{
		width: 192px;
		margin: -1px -10000px -1px 0px;
	}

	#u5640-5.MuseLinkActive
	{
		width: 192px;
		margin: -1px -10000px -1px 0px;
	}

	#u77,#u4198
	{
		width: 1160px;
	}

	#info
	{
		margin-left: 469px;
		margin-top: 6px;
	}

	#pu1192-4
	{
		width: 0.01px;
		margin-left: 347px;
		margin-top: 33px;
	}

	#u1192-4
	{
		left: 5px;
	}

	#u1999
	{
		margin-top: 26px;
	}

	#u1997
	{
		left: 220px;
	}

	#u1294-4
	{
		margin-left: 302px;
		margin-top: 9px;
	}

	#u5645-4
	{
		margin-left: 302px;
		margin-top: 8px;
	}

	#pu1191-4,#pu5643-20
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 7px;
	}

	#u5764-4
	{
		margin-left: 227px;
		margin-top: 77px;
	}

	#pu5765
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 13px;
	}

	#u5772-4
	{
		margin-left: 195px;
		margin-top: 35px;
	}

	#pu5773
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 15px;
	}

	#u5765,#u5773
	{
		margin-right: -10000px;
	}

	#u6571-4
	{
		margin-left: 302px;
		margin-top: 27px;
	}

	#pu6569-7
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 8px;
	}

	#register
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 19px;
		left: 438px;
	}

	#pu5741-4
	{
		width: 0.01px;
		margin-left: 216px;
		margin-top: -7px;
	}

	#hotelsandrestaurants
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 33px;
		left: 449px;
	}

	#pu6520-4
	{
		width: 0.01px;
		margin-left: 216px;
		margin-top: 59px;
	}

	#pu5758-6,#pu6525-26
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 10px;
	}

	#tourism
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 77px;
		left: 449px;
	}

	#pu6541-4
	{
		width: 0.01px;
		margin-left: 216px;
		margin-top: 33px;
	}

	#pu6546-22
	{
		width: 0.01px;
		margin-left: 20px;
		margin-top: 11px;
	}

	#u1191-4,#u5643-20,#u6569-7,#u5758-6,#u6525-26,#u6546-22
	{
		width: 420px;
		margin-right: -10000px;
	}

	#u1196-4,#u5644-30,#u6562-17,#u6565-14,#u6570-7,#u5759-4,#u6526-26,#u6547-22
	{
		width: 420px;
		margin-right: -10000px;
		left: 500px;
	}

	#gallery
	{
		margin-left: 469px;
		margin-top: 16px;
	}

	#slideshowu1326
	{
		height: 1356px;
		margin-top: 158px;
	}

	#u1327
	{
		top: -45px;
		left: -1138px;
	}

	#u1346
	{
		width: 960px;
	}

	#u6408
	{
		width: 480px;
		height: 272px;
	}

	#u6408:hover
	{
		margin-top: 0px;
		width: 480px;
		height: 272px;
	}

	#u6448
	{
		width: 480px;
		height: 272px;
		left: 480px;
	}

	#u6448:hover
	{
		width: 480px;
		height: 272px;
	}

	#u6468
	{
		width: 480px;
		height: 272px;
		margin-top: 272px;
	}

	#u6688
	{
		width: 480px;
		height: 272px;
		margin-top: 541px;
		left: 268px;
	}

	#u6708
	{
		width: 480px;
		height: 272px;
		margin-top: 540px;
	}

	#u6708:hover
	{
		margin-top: 540px;
		width: 480px;
		height: 272px;
	}

	#u6708_img
	{
		padding-left: 138px;
		padding-right: 139px;
	}

	#u6728
	{
		width: 480px;
		height: 272px;
		margin-top: 541px;
		left: 64px;
	}

	#u6768
	{
		width: 480px;
		height: 272px;
		margin-top: 812px;
	}

	#u6788
	{
		width: 480px;
		height: 272px;
		margin-top: 812px;
		left: 480px;
	}

	#u6768:hover,#u6788:hover
	{
		margin-top: 812px;
		width: 480px;
		height: 272px;
	}

	#u6808
	{
		width: 480px;
		height: 272px;
		margin-top: 542px;
		left: 446px;
	}

	#u6808:hover
	{
		margin-top: 542px;
		width: 480px;
		height: 272px;
	}

	#u6808_img
	{
		padding-left: 149px;
		padding-right: 150px;
	}

	#u6828
	{
		width: 480px;
		height: 272px;
		margin-top: 541px;
		left: 480px;
	}

	#u6688:hover,#u6728:hover,#u6828:hover
	{
		margin-top: 541px;
		width: 480px;
		height: 272px;
	}

	#u6688_img,#u6728_img,#u6828_img
	{
		padding-left: 138px;
		padding-right: 138px;
	}

	#u6848
	{
		width: 480px;
		height: 272px;
		margin-top: 1084px;
	}

	#u6848:hover
	{
		margin-top: 1084px;
		width: 480px;
		height: 272px;
	}

	#u6748
	{
		width: 480px;
		height: 272px;
		margin-top: 272px;
		left: 480px;
	}

	#u6468:hover,#u6748:hover
	{
		margin-top: 272px;
		width: 480px;
		height: 272px;
	}

	#u6468_img,#u6768_img,#u6788_img,#u6748_img
	{
		margin-top: -24px;
		margin-bottom: -24px;
	}

	#u1365-3
	{
		top: 236px;
		left: -1228px;
	}

	#u1345-3
	{
		top: 236px;
		left: -170px;
	}

	#u1363
	{
		top: -116px;
		left: -700px;
	}

	#pu6862-5
	{
		width: 0.01px;
		margin-left: 225px;
		margin-top: -1465px;
	}

	#u5741-4,#u6520-4,#u6541-4,#u6862-5
	{
		left: 63px;
	}

	#u5744,#u6523,#u6544,#u6864
	{
		left: 486px;
	}

	#u2163-10
	{
		width: 900px;
		margin-left: 30px;
		margin-top: 231px;
	}

	body
	{
		min-width: 960px;
	}
}

@media (min-width: 801px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 4435px;
		padding-bottom: 20px;
		width: 100%;
		max-width: 960px;
	}

	#ppu1185-4
	{
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
	}

	#pu1185-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1185-4
	{
		width: 188px;
		margin-top: 495px;
		margin-left: 50%;
		left: -191px;
	}

	#u1185-4:hover
	{
		margin-top: 495px;
		width: 188px;
		margin-left: 50%;
		left: -191px;
	}

	#u1185-4.MuseLinkActive
	{
		margin-top: 495px;
		width: 188px;
		margin-left: 50%;
		left: -191px;
	}

	#slideshowu75
	{
		margin-left: 50%;
		left: -480px;
	}

	#u77,#u4198
	{
		width: 960px;
	}

	#u1180
	{
		width: 600px;
		padding-bottom: 1px;
		margin-left: 50%;
		left: -300px;
	}

	#u1186
	{
		width: 579px;
		margin-left: 50%;
		left: -291px;
	}

	#pu1182-4
	{
		width: 66.67%;
		margin-left: 16.67%;
	}

	#u1182-4
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1182-4:hover
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1183-4
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u1183-4:hover
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u5637-4
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#u5637-4:hover
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#u5637-4.MuseLinkActive
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#pu1192-4
	{
		margin-top: 56px;
		width: 27.82%;
		margin-left: 36.1%;
	}

	#u1192-4
	{
		margin-left: 50%;
		left: -128.5px;
	}

	#u1999
	{
		margin-top: 26px;
		margin-left: 50%;
		left: -133.5px;
	}

	#u1998
	{
		margin-left: 50%;
		left: -134px;
	}

	#u1997
	{
		margin-left: 50%;
		left: 87px;
	}

	#u1294-4
	{
		margin-top: 9px;
		margin-left: 50%;
		left: -178px;
	}

	#u5645-4
	{
		margin-top: 1px;
		margin-left: 50%;
		left: -178px;
	}

	#u1191-4,#u5643-20
	{
		width: 373px;
		margin-top: 7px;
		margin-left: 50%;
		left: -380px;
	}

	#u5764-4
	{
		margin-top: 182px;
		margin-left: 50%;
		left: -253px;
	}

	#u5765
	{
		margin-top: 5px;
		margin-left: 50%;
		left: -380px;
	}

	#u5772-4
	{
		margin-top: 43px;
		margin-left: 50%;
		left: -285px;
	}

	#u5773
	{
		margin-top: 7px;
		margin-left: 50%;
		left: -380px;
	}

	#u6571-4
	{
		margin-top: 35px;
		margin-left: 50%;
		left: -178px;
	}

	#u6569-7
	{
		width: 373px;
		margin-top: 8px;
		margin-left: 50%;
		left: -380px;
	}

	#pu5741-4
	{
		margin-top: -7px;
		width: 55.32%;
		margin-left: 22.35%;
	}

	#pu6520-4
	{
		margin-top: 37px;
		width: 55.32%;
		margin-left: 22.35%;
	}

	#u6525-26
	{
		width: 373px;
		margin-top: 10px;
		margin-left: 50%;
		left: -380px;
	}

	#pu6541-4
	{
		margin-top: 33px;
		width: 55.32%;
		margin-left: 22.35%;
	}

	#u5741-4,#u6520-4,#u6541-4
	{
		margin-left: 50%;
		left: -201.5px;
	}

	#u5742,#u6521,#u6542
	{
		margin-left: 50%;
		left: -264.5px;
	}

	#u5758-6,#u6546-22
	{
		width: 373px;
		margin-top: 11px;
		margin-left: 50%;
		left: -380px;
	}

	#slideshowu1326
	{
		height: 1362px;
		margin-top: 165px;
		margin-left: 50%;
		left: -380px;
	}

	#u1327
	{
		top: -38px;
		left: -1238px;
	}

	#u1346
	{
		width: 760px;
	}

	#u6408
	{
		width: 380px;
		height: 272px;
		margin-top: 1px;
	}

	#u6408:hover
	{
		margin-top: 1px;
		width: 380px;
		height: 272px;
	}

	#u6408_img
	{
		margin-top: -6px;
		margin-bottom: -7px;
	}

	#u6448
	{
		width: 380px;
		height: 272px;
		left: 380px;
	}

	#u6448:hover
	{
		width: 380px;
		height: 272px;
	}

	#u6468
	{
		width: 380px;
		height: 272px;
		margin-top: 272px;
	}

	#u6688
	{
		width: 380px;
		height: 272px;
		margin-top: 548px;
		left: 208px;
	}

	#u6688:hover
	{
		margin-top: 548px;
		width: 380px;
		height: 272px;
	}

	#u6688_img
	{
		padding: 28px 109px 29px;
	}

	#u6708
	{
		width: 380px;
		height: 272px;
		margin-top: 547px;
	}

	#u6708:hover
	{
		margin-top: 547px;
		width: 380px;
		height: 272px;
	}

	#u6708_img
	{
		padding: 25px 107px;
	}

	#u6728
	{
		width: 380px;
		height: 272px;
		margin-top: 544px;
	}

	#u6768
	{
		width: 380px;
		height: 272px;
		margin-top: 819px;
	}

	#u6788
	{
		width: 380px;
		height: 272px;
		margin-top: 819px;
		left: 380px;
	}

	#u6768:hover,#u6788:hover
	{
		margin-top: 819px;
		width: 380px;
		height: 272px;
	}

	#u6808
	{
		width: 380px;
		height: 272px;
		margin-top: 546px;
		left: 380px;
	}

	#u6808:hover
	{
		margin-top: 546px;
		width: 380px;
		height: 272px;
	}

	#u6808_img
	{
		padding: 12px 107px;
	}

	#u6828
	{
		width: 380px;
		height: 272px;
		margin-top: 544px;
		left: 380px;
	}

	#u6728:hover,#u6828:hover
	{
		margin-top: 544px;
		width: 380px;
		height: 272px;
	}

	#u6728_img,#u6828_img
	{
		padding: 26px 107px 25px;
	}

	#u6848
	{
		width: 380px;
		height: 272px;
		margin-top: 1091px;
	}

	#u6848:hover
	{
		margin-top: 1091px;
		width: 380px;
		height: 272px;
	}

	#u6748
	{
		width: 380px;
		height: 272px;
		margin-top: 272px;
		left: 380px;
	}

	#u6468:hover,#u6748:hover
	{
		margin-top: 272px;
		width: 380px;
		height: 272px;
	}

	#u6468_img,#u6768_img,#u6788_img,#u6748_img
	{
		margin-left: -14px;
		margin-right: -14px;
	}

	#u1365-3
	{
		top: 243px;
		left: -1328px;
	}

	#u1345-3
	{
		top: 243px;
		left: -270px;
	}

	#u1363
	{
		top: -109px;
		left: -800px;
	}

	#pu6862-5
	{
		margin-top: -1465px;
		width: 55.32%;
		margin-left: 22.35%;
	}

	#u6862-5
	{
		margin-left: 50%;
		left: -192.5px;
	}

	#u6863
	{
		margin-left: 50%;
		left: -255.5px;
	}

	#u5743,#u6522,#u6543,#u6865
	{
		margin-left: 50%;
		left: -266px;
	}

	#u5744,#u6523,#u6544,#u6864
	{
		margin-left: 50%;
		left: 221px;
	}

	#u2163-10
	{
		width: 900px;
		margin-top: 231px;
		margin-left: 50%;
		left: -450px;
	}

	#pinfo
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 570px;
		margin-left: 458px;
	}

	#info
	{
		margin-left: 11px;
	}

	#register
	{
		margin-top: 1584px;
	}

	#hotelsandrestaurants
	{
		margin-left: 11px;
		margin-top: 171px;
	}

	#tourism
	{
		margin-left: 11px;
		margin-top: 232px;
	}

	#gallery
	{
		margin-left: 11px;
		margin-top: 291px;
	}

	#pu5640-5
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 495px;
		width: 39.8%;
		margin-left: 30.11%;
	}

	#u5640-5
	{
		width: 192px;
		margin-left: 50%;
		left: -2px;
	}

	#u5640-5:hover
	{
		width: 192px;
		left: -2px;
		margin: 0px 0px 0px 50%;
	}

	#u5640-5.MuseLinkActive
	{
		width: 192px;
		left: -2px;
		margin: 0px 0px 0px 50%;
	}

	#u1196-4
	{
		width: 369px;
		margin-top: 200px;
		margin-left: 50%;
		left: 11px;
	}

	#u5644-30
	{
		width: 369px;
		margin-top: 67px;
		margin-left: 50%;
		left: 11px;
	}

	#u6562-17
	{
		width: 297px;
		margin-top: 80px;
		margin-left: 50%;
		left: 83px;
	}

	#u6565-14
	{
		width: 297px;
		margin-top: 229px;
		margin-left: 50%;
		left: 83px;
	}

	#u6570-7
	{
		width: 369px;
		margin-top: 261px;
		margin-left: 50%;
		left: 11px;
	}

	#u5759-4
	{
		width: 369px;
		margin-top: 69px;
		margin-left: 50%;
		left: 11px;
	}

	#u6526-26
	{
		width: 369px;
		margin-top: 122px;
		margin-left: 50%;
		left: 11px;
	}

	#u6547-22
	{
		width: 369px;
		margin-top: 96px;
		margin-left: 50%;
		left: 11px;
	}

}

@media (min-width: 641px) and (max-width: 800px)
{
	#muse_css_mq
	{
		background-color: #000320;
	}

	#bp_800.active
	{
		display: block;
	}

	#page
	{
		min-height: 4435px;
		padding-bottom: 20px;
		width: 100%;
		max-width: 800px;
	}

	#ppu1185-4
	{
		margin-right: -10000px;
		width: 265%;
		margin-left: -82.5%;
	}

	#pu1185-4
	{
		width: 37.74%;
		margin-left: 31.14%;
	}

	#u1185-4
	{
		width: 188px;
		margin-top: 495px;
		margin-left: 50%;
		left: -191px;
	}

	#u1185-4:hover
	{
		margin-top: 495px;
		width: 188px;
		margin-left: 50%;
		left: -191px;
	}

	#u1185-4.MuseLinkActive
	{
		margin-top: 495px;
		width: 188px;
		margin-left: 50%;
		left: -191px;
	}

	#u5640-5
	{
		width: 192px;
		left: -2px;
		margin: 495px -10000px -1px 50%;
	}

	#u5640-5:hover
	{
		width: 192px;
		left: -2px;
		margin: 495px -10000px -1px 50%;
	}

	#u5640-5.MuseLinkActive
	{
		width: 192px;
		left: -2px;
		margin: 495px -10000px -1px 50%;
	}

	#slideshowu75
	{
		margin-left: 50%;
		left: -400px;
	}

	#u77,#u4198
	{
		width: 800px;
	}

	#u1180
	{
		width: 600px;
		padding-bottom: 1px;
		margin-left: 50%;
		left: -300px;
	}

	#u1186
	{
		width: 579px;
		margin-left: 50%;
		left: -291px;
	}

	#pu1182-4
	{
		width: 66.67%;
		margin-left: 16.67%;
	}

	#u1182-4
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1182-4:hover
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 193px;
		margin-left: 50%;
		left: -96.50000000000004px;
	}

	#u1183-4
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u1183-4:hover
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 192px;
		margin-left: 50%;
		left: -289.50000000000006px;
	}

	#u5637-4
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#u5637-4:hover
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#u5637-4.MuseLinkActive
	{
		width: 192px;
		margin-left: 50%;
		left: 97px;
	}

	#pu1192-4
	{
		margin-top: 36px;
		width: 12.6%;
		margin-left: 43.71%;
	}

	#u1192-4
	{
		margin-left: 50%;
		left: -128.4999999999999px;
	}

	#u1999
	{
		margin-top: 26px;
		margin-left: 50%;
		left: -133.4999999999999px;
	}

	#u1998
	{
		margin-left: 50%;
		left: -134px;
	}

	#u1997
	{
		margin-left: 50%;
		left: 87px;
	}

	#pu1191-4
	{
		margin-top: 9px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#u1191-4
	{
		width: 293px;
		margin-right: -10000px;
		margin-top: 31px;
		margin-left: 50%;
		left: -300.0000000000001px;
	}

	#u1196-4
	{
		width: 289px;
		margin-right: -10000px;
		margin-top: 31px;
		margin-left: 50%;
		left: 10.999999999999886px;
	}

	#u1294-4
	{
		margin-right: -10000px;
		margin-left: 50%;
		left: -178.0000000000001px;
	}

	#u5645-4
	{
		margin-top: 16px;
		margin-left: 50%;
		left: -178px;
	}

	#pu5643-20
	{
		margin-top: 26px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#u5764-4
	{
		margin-top: 13px;
		margin-left: 50%;
		left: -253px;
	}

	#u5772-4
	{
		margin-top: 46px;
		margin-left: 50%;
		left: -285px;
	}

	#u5765,#u5773
	{
		margin-top: 8px;
		margin-left: 50%;
		left: -300px;
	}

	#u6571-4
	{
		margin-top: 69px;
		margin-left: 50%;
		left: -178px;
	}

	#pu6569-7
	{
		margin-top: -3px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#pu5741-4
	{
		margin-top: 26px;
		width: 25.05%;
		margin-left: 37.48%;
	}

	#pu5758-6
	{
		margin-top: -6px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#u5758-6
	{
		width: 298px;
		margin-right: -10000px;
		margin-left: 50%;
		left: -300.0000000000001px;
	}

	#pu6520-4
	{
		margin-top: 42px;
		width: 25.05%;
		margin-left: 37.48%;
	}

	#pu6525-26
	{
		margin-top: -1px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#pu6541-4
	{
		margin-top: 23px;
		width: 25.05%;
		margin-left: 37.48%;
	}

	#u5741-4,#u6520-4,#u6541-4
	{
		margin-left: 50%;
		left: -201.5px;
	}

	#u5742,#u6521,#u6542
	{
		margin-left: 50%;
		left: -264.5px;
	}

	#pu6546-22
	{
		margin-top: 15px;
		width: 28.31%;
		margin-left: 35.85%;
	}

	#u5643-20,#u6569-7,#u6525-26,#u6546-22
	{
		width: 293px;
		margin-right: -10000px;
		margin-left: 50%;
		left: -300.0000000000001px;
	}

	#u5644-30,#u6570-7,#u5759-4,#u6526-26,#u6547-22
	{
		width: 289px;
		margin-right: -10000px;
		margin-left: 50%;
		left: 10.999999999999886px;
	}

	#pslideshowu1326
	{
		margin-top: 16px;
		width: 95.48%;
		margin-left: 2.27%;
	}

	#slideshowu1326
	{
		height: 977px;
		margin-right: -10000px;
		margin-top: 106px;
		margin-left: 50%;
		left: -299.9999999999998px;
	}

	#u1327
	{
		top: -19px;
		left: -1330px;
	}

	#u1346
	{
		width: 604px;
	}

	#u6408
	{
		width: 300px;
		height: 201px;
	}

	#u6408:hover
	{
		margin-top: 0px;
		width: 300px;
		height: 201px;
	}

	#u6408_img
	{
		margin-top: -12px;
		margin-bottom: -12px;
	}

	#u6448
	{
		width: 300px;
		height: 201px;
		left: 300px;
	}

	#u6448:hover
	{
		width: 300px;
		height: 201px;
	}

	#u6468
	{
		width: 300px;
		height: 201px;
		margin-top: 201px;
	}

	#u6688
	{
		width: 300px;
		height: 201px;
		margin-top: 391px;
		left: 176px;
	}

	#u6688:hover
	{
		margin-top: 391px;
		width: 300px;
		height: 201px;
	}

	#u6688_img
	{
		padding: 15px 87px 16px 86px;
	}

	#u6708
	{
		width: 300px;
		height: 201px;
		margin-top: 388px;
	}

	#u6708_img
	{
		padding: 13px 84px 13px 85px;
	}

	#u6728
	{
		width: 300px;
		height: 201px;
		margin-top: 389px;
		left: 47px;
	}

	#u6728:hover
	{
		margin-top: 389px;
		width: 300px;
		height: 201px;
	}

	#u6768
	{
		width: 300px;
		height: 201px;
		margin-top: 575px;
	}

	#u6788
	{
		width: 300px;
		height: 201px;
		margin-top: 575px;
		left: 300px;
	}

	#u6768:hover,#u6788:hover
	{
		margin-top: 575px;
		width: 300px;
		height: 201px;
	}

	#u6808
	{
		width: 300px;
		height: 201px;
		margin-top: 378px;
		left: 304px;
	}

	#u6808:hover
	{
		margin-top: 378px;
		width: 300px;
		height: 201px;
	}

	#u6808_img
	{
		padding: 2px 84px 3px 85px;
	}

	#u6828
	{
		width: 300px;
		height: 201px;
		margin-top: 388px;
		left: 300px;
	}

	#u6708:hover,#u6828:hover
	{
		margin-top: 388px;
		width: 300px;
		height: 201px;
	}

	#u6728_img,#u6828_img
	{
		padding: 13px 84px 14px 85px;
	}

	#u6848
	{
		width: 300px;
		height: 201px;
		margin-top: 776px;
	}

	#u6848:hover
	{
		margin-top: 776px;
		width: 300px;
		height: 201px;
	}

	#u6748
	{
		width: 300px;
		height: 201px;
		margin-top: 201px;
		left: 300px;
	}

	#u6468:hover,#u6748:hover
	{
		margin-top: 201px;
		width: 300px;
		height: 201px;
	}

	#u6468_img,#u6768_img,#u6788_img,#u6748_img
	{
		margin-left: -1px;
		margin-right: -1px;
	}

	#u1365-3
	{
		top: 262px;
		left: -1420px;
	}

	#u1345-3
	{
		top: 262px;
		left: -361px;
	}

	#u1363
	{
		top: -90px;
		left: -891px;
	}

	#u6862-5
	{
		margin-left: 50%;
		left: -191.99999999999977px;
	}

	#u6863
	{
		margin-left: 50%;
		left: -254.99999999999977px;
	}

	#u5743,#u6522,#u6543,#u6865
	{
		margin-left: 50%;
		left: -266px;
	}

	#u5744,#u6523,#u6544,#u6864
	{
		margin-left: 50%;
		left: 221px;
	}

	#u2163-10
	{
		width: 600px;
		margin-top: 461px;
		margin-left: 50%;
		left: -300px;
	}

	#pinfo
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 570px;
		margin-left: 458px;
	}

	#info
	{
		margin-left: 11px;
	}

	#register
	{
		margin-top: 1584px;
	}

	#hotelsandrestaurants
	{
		margin-left: 11px;
		margin-top: 324px;
	}

	#tourism
	{
		margin-left: 11px;
		margin-top: 232px;
	}

	#gallery
	{
		margin-left: 11px;
		margin-top: 291px;
	}

	#pu6562-17
	{
		margin-right: -10000px;
		margin-top: 1447px;
		width: 18.13%;
		margin-left: 40.94%;
	}

	#u6562-17
	{
		width: 145px;
		margin-left: 50%;
		left: 154.5px;
	}

	#u6565-14
	{
		width: 145px;
		margin-top: 188px;
		margin-left: 50%;
		left: 154.5px;
	}

}

@media (max-width: 640px)
{
	#muse_css_mq
	{
		background-color: #000280;
	}

	#bp_640.active
	{
		display: block;
	}

	#page
	{
		min-height: 4435px;
		padding-bottom: 20px;
		width: 100%;
		max-width: 640px;
	}

	#ppu1185-4
	{
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
	}

	#pu1185-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1185-4
	{
		margin-top: 495px;
		width: 29.38%;
		margin-left: 35.32%;
		left: -97px;
	}

	#u1185-4:hover
	{
		margin-top: 495px;
		width: 29.38%;
		margin-left: 35.32%;
		left: -97px;
	}

	#u1185-4.MuseLinkActive
	{
		margin-top: 495px;
		width: 29.38%;
		margin-left: 35.32%;
		left: -97px;
	}

	#u5640-5
	{
		width: 30%;
		left: 94px;
		margin: 495px -10000px -1px 35%;
	}

	#u5640-5:hover
	{
		width: 30%;
		left: 94px;
		margin: 495px -10000px -1px 35%;
	}

	#u5640-5.MuseLinkActive
	{
		width: 30%;
		left: 94px;
		margin: 495px -10000px -1px 35%;
	}

	#slideshowu75
	{
		margin-left: 50%;
		left: -320px;
	}

	#u77,#u4198
	{
		width: 640px;
	}

	#u1180
	{
		width: 600px;
		padding-bottom: 1px;
		margin-left: 50%;
		left: -300px;
	}

	#u1186
	{
		width: 96.5%;
		margin-left: 1.76%;
		left: -2px;
	}

	#pu1182-4
	{
		width: 66.67%;
		margin-left: 16.67%;
	}

	#u1182-4
	{
		width: 50%;
		margin-left: 25%;
		left: 0.49999999999995737px;
	}

	#u1182-4:hover
	{
		width: 50%;
		margin-left: 25%;
		left: 0.49999999999995737px;
	}

	#u1182-4.MuseLinkActive
	{
		width: 50%;
		margin-left: 25%;
		left: 0.49999999999995737px;
	}

	#u1183-4
	{
		width: 49.75%;
		margin-left: 25.13%;
		left: -193.50000000000006px;
	}

	#u1183-4:hover
	{
		width: 49.75%;
		margin-left: 25.13%;
		left: -193.50000000000006px;
	}

	#u1183-4.MuseLinkActive
	{
		width: 49.75%;
		margin-left: 25.13%;
		left: -193.50000000000006px;
	}

	#u5637-4
	{
		width: 33.17%;
		margin-left: 33.42%;
		left: 193px;
	}

	#u5637-4:hover
	{
		width: 33.17%;
		margin-left: 33.42%;
		left: 193px;
	}

	#u5637-4.MuseLinkActive
	{
		width: 33.17%;
		margin-left: 33.42%;
		left: 193px;
	}

	#pu1192-4
	{
		margin-top: 20px;
		width: 41.72%;
		margin-left: 29.15%;
	}

	#u1192-4
	{
		margin-left: 50%;
		left: -128.5px;
	}

	#u1999
	{
		margin-top: 24px;
		margin-left: 50%;
		left: -133.5px;
	}

	#u1998
	{
		margin-left: 50%;
		left: -134px;
	}

	#u1997
	{
		margin-left: 50%;
		left: 87px;
	}

	#u1294-4
	{
		margin-top: 9px;
		margin-left: 50%;
		left: -178px;
	}

	#u5645-4
	{
		margin-top: 35px;
		margin-left: 50%;
		left: -178px;
	}

	#pu1191-4,#pu5643-20
	{
		margin-top: 7px;
		width: 93.75%;
		margin-left: 3.13%;
	}

	#u5764-4
	{
		margin-top: 13px;
		margin-left: 50%;
		left: -253px;
	}

	#u5765
	{
		margin-top: 7px;
		margin-left: 50%;
		left: -300px;
	}

	#u5772-4
	{
		margin-top: 47px;
		margin-left: 50%;
		left: -285px;
	}

	#u5773
	{
		margin-top: 3px;
		margin-left: 50%;
		left: -300px;
	}

	#u6571-4
	{
		margin-top: 74px;
		margin-left: 50%;
		left: -178px;
	}

	#pu6569-7
	{
		margin-top: 8px;
		width: 93.75%;
		margin-left: 3.13%;
	}

	#pu5741-4
	{
		margin-top: 10px;
		width: 82.97%;
		margin-left: 8.52%;
	}

	#u5758-6
	{
		width: 298px;
		margin-right: -10000px;
		margin-left: 50%;
		left: -300px;
	}

	#pu6520-4
	{
		margin-top: 31px;
		width: 82.97%;
		margin-left: 8.52%;
	}

	#pu5758-6,#pu6525-26
	{
		margin-top: 10px;
		width: 93.75%;
		margin-left: 3.13%;
	}

	#pu6541-4
	{
		margin-top: 27px;
		width: 82.97%;
		margin-left: 8.52%;
	}

	#u5741-4,#u6520-4,#u6541-4
	{
		margin-left: 50%;
		left: -201.5px;
	}

	#u5742,#u6521,#u6542
	{
		margin-left: 50%;
		left: -264.5px;
	}

	#pu6546-22
	{
		margin-top: 11px;
		width: 93.75%;
		margin-left: 3.13%;
	}

	#u1191-4,#u5643-20,#u6569-7,#u6525-26,#u6546-22
	{
		width: 293px;
		margin-right: -10000px;
		margin-left: 50%;
		left: -300px;
	}

	#u1196-4,#u5644-30,#u6570-7,#u5759-4,#u6526-26,#u6547-22
	{
		width: 289px;
		margin-right: -10000px;
		margin-left: 50%;
		left: 11px;
	}

	#slideshowu1326
	{
		height: 977px;
		margin-top: 111px;
		margin-left: 50%;
		left: -300px;
	}

	#u1327
	{
		top: -19px;
		left: -1330px;
	}

	#u1346
	{
		width: 604px;
	}

	#u6408
	{
		width: 300px;
		height: 201px;
	}

	#u6408:hover
	{
		margin-top: 0px;
		width: 300px;
		height: 201px;
	}

	#u6408_img
	{
		margin-top: -12px;
		margin-bottom: -12px;
	}

	#u6448
	{
		width: 300px;
		height: 201px;
		left: 300px;
	}

	#u6448:hover
	{
		width: 300px;
		height: 201px;
	}

	#u6468
	{
		width: 300px;
		height: 201px;
		margin-top: 201px;
	}

	#u6688
	{
		width: 300px;
		height: 201px;
		margin-top: 391px;
		left: 176px;
	}

	#u6688:hover
	{
		margin-top: 391px;
		width: 300px;
		height: 201px;
	}

	#u6688_img
	{
		padding: 15px 87px 16px 86px;
	}

	#u6708
	{
		width: 300px;
		height: 201px;
		margin-top: 388px;
	}

	#u6708_img
	{
		padding: 13px 84px 13px 85px;
	}

	#u6728
	{
		width: 300px;
		height: 201px;
		margin-top: 389px;
		left: 47px;
	}

	#u6728:hover
	{
		margin-top: 389px;
		width: 300px;
		height: 201px;
	}

	#u6768
	{
		width: 300px;
		height: 201px;
		margin-top: 575px;
	}

	#u6788
	{
		width: 300px;
		height: 201px;
		margin-top: 575px;
		left: 300px;
	}

	#u6768:hover,#u6788:hover
	{
		margin-top: 575px;
		width: 300px;
		height: 201px;
	}

	#u6808
	{
		width: 300px;
		height: 201px;
		margin-top: 378px;
		left: 304px;
	}

	#u6808:hover
	{
		margin-top: 378px;
		width: 300px;
		height: 201px;
	}

	#u6808_img
	{
		padding: 2px 84px 3px 85px;
	}

	#u6828
	{
		width: 300px;
		height: 201px;
		margin-top: 388px;
		left: 300px;
	}

	#u6708:hover,#u6828:hover
	{
		margin-top: 388px;
		width: 300px;
		height: 201px;
	}

	#u6728_img,#u6828_img
	{
		padding: 13px 84px 14px 85px;
	}

	#u6848
	{
		width: 300px;
		height: 201px;
		margin-top: 776px;
	}

	#u6848:hover
	{
		margin-top: 776px;
		width: 300px;
		height: 201px;
	}

	#u6748
	{
		width: 300px;
		height: 201px;
		margin-top: 201px;
		left: 300px;
	}

	#u6468:hover,#u6748:hover
	{
		margin-top: 201px;
		width: 300px;
		height: 201px;
	}

	#u6468_img,#u6768_img,#u6788_img,#u6748_img
	{
		margin-left: -1px;
		margin-right: -1px;
	}

	#u1365-3
	{
		top: 262px;
		left: -1420px;
	}

	#u1345-3
	{
		top: 262px;
		left: -361px;
	}

	#u1363
	{
		top: -90px;
		left: -891px;
	}

	#pu6862-5
	{
		margin-top: -1053px;
		width: 82.97%;
		margin-left: 8.52%;
	}

	#u6862-5
	{
		margin-left: 50%;
		left: -192.5px;
	}

	#u6863
	{
		margin-left: 50%;
		left: -255.5px;
	}

	#u5743,#u6522,#u6543,#u6865
	{
		margin-left: 50%;
		left: -266px;
	}

	#u5744,#u6523,#u6544,#u6864
	{
		margin-left: 50%;
		left: 221px;
	}

	#u2163-10
	{
		width: 600px;
		margin-top: 460px;
		margin-left: 50%;
		left: -300px;
	}

	#pinfo
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 570px;
		margin-left: 458px;
	}

	#info
	{
		margin-left: 11px;
	}

	#register
	{
		margin-top: 1603px;
	}

	#hotelsandrestaurants
	{
		margin-left: 11px;
		margin-top: 335px;
	}

	#tourism
	{
		margin-left: 11px;
		margin-top: 232px;
	}

	#gallery
	{
		margin-left: 11px;
		margin-top: 291px;
	}

	#pu6562-17
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1446px;
		width: 22.66%;
		margin-left: 38.68%;
	}

	#u6562-17
	{
		width: 145px;
		margin-left: 50%;
		left: 154.5px;
	}

	#u6565-14
	{
		width: 145px;
		margin-top: 183px;
		margin-left: 50%;
		left: 154.5px;
	}

	body
	{
		min-width: 640px;
	}

}

