.version.index /* version checker */
{
	color: #0000E7;
	background-color: #89C822;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4455px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu75
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu75
{
	z-index: 364;
	width: 0.01px;
	height: 494px;
	position: relative;
	margin-right: -10000px;
}

#u77
{
	position: absolute;
	width: 1160px;
	height: 494px;
	background-color: transparent;
}

#u77popup
{
	z-index: 365;
}

#u4198
{
	z-index: 366;
	width: 1160px;
	height: 494px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1187-3
{
	z-index: 368;
	min-height: 118px;
	background-color: transparent;
	line-height: 102px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 85px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1187
{
	padding-right: 100px;
	padding-left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1187-3-bw
{
	z-index: 368;
	min-height: 118px;
	margin-top: 182px;
}

#u1189-3
{
	z-index: 371;
	min-height: 34px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0px;
	color: #F4F4F4;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1189
{
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 9px;
}

#u1189-3-bw
{
	z-index: 371;
	min-height: 34px;
	margin-top: -161px;
	margin-bottom: -34px;
}

#u1180
{
	z-index: 341;
	height: 97px;
	border-style: solid;
	border-color: #E8E8E8;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u1180-bw
{
	z-index: 341;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 466px;
}

#u1186
{
	z-index: 342;
	width: 960px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 524px;
	left: 0px;
}

#u1185-4
{
	z-index: 351;
	width: 189px;
	min-height: 34px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1185-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1185-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1185-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#pu1182-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 189px;
}

#u1182-4
{
	z-index: 343;
	width: 193px;
	min-height: 34px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u1182-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u1182-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#u1183-4
{
	z-index: 347;
	width: 192px;
	min-height: 34px;
	border-style: solid;
	border-color: #D6D6D6;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px;
}

#u1183-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u1183-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#pu5637-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 574px;
}

#u5637-4
{
	z-index: 355;
	width: 192px;
	min-height: 34px;
	border-style: solid;
	border-color: #D6D6D6;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px;
}

#u1183-4.MuseLinkActive,#u5637-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5637-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5637-4:hover p
{
	color: #A8A8A8;
	visibility: inherit;
}

#u5640-5
{
	z-index: 359;
	width: 193px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u1182-4.MuseLinkActive,#u5640-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5640-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5640-5:hover p,#u5640-5:hover span
{
	color: #A8A8A8;
	visibility: inherit;
}

#u1185-4.MuseLinkActive p,#u1182-4.MuseLinkActive p,#u1183-4.MuseLinkActive p,#u5637-4.MuseLinkActive p,#u5640-5.MuseLinkActive p,#u5640-5.MuseLinkActive span
{
	color: #B5B5B5;
	visibility: inherit;
}

#u5640
{
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}

#u5640-2
{
	line-height: 14px;
}

#info
{
	margin-left: 469px;
	margin-top: 76px;
	position: relative;
}

#pu1192-4
{
	width: 0.01px;
	margin-left: 347px;
	margin-top: 33px;
}

#u1192-4
{
	z-index: 23;
	width: 257px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1999
{
	z-index: 85;
	width: 267px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1998
{
	z-index: 87;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u1997
{
	z-index: 86;
	width: 47px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#u1294-4
{
	z-index: 19;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 9px;
	position: relative;
}

#u1191-4
{
	z-index: 11;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1196-4
{
	z-index: 15;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5645-4
{
	z-index: 140;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 8px;
	position: relative;
}

#pu1191-4,#pu5643-20
{
	width: 0.01px;
	margin-top: 7px;
}

#u5643-20
{
	z-index: 90;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5644-30
{
	z-index: 110;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5644-2
{
	font-weight: 400;
}

#u5764-4
{
	z-index: 162;
	width: 506px;
	min-height: 41px;
	background-color: transparent;
	margin-left: 227px;
	margin-top: 98px;
	position: relative;
}

#pu5765
{
	width: 0.01px;
	margin-top: 13px;
}

#u5765
{
	z-index: 166;
	width: 469px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6562-17
{
	z-index: 284;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u5772-4
{
	z-index: 167;
	width: 570px;
	min-height: 41px;
	background-color: transparent;
	margin-left: 195px;
	margin-top: 35px;
	position: relative;
}

#pu5773
{
	width: 0.01px;
	margin-top: 15px;
}

#u5773
{
	z-index: 171;
	width: 469px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6565-14
{
	z-index: 301;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u6562-2,#u6565-2
{
	font-size: 17px;
	line-height: 24px;
	font-weight: 400;
}

#u6571-4
{
	z-index: 329;
	width: 356px;
	min-height: 40px;
	background-color: transparent;
	margin-left: 302px;
	margin-top: 27px;
	position: relative;
}

#pu6569-7
{
	width: 0.01px;
	margin-top: 8px;
}

#u6569-7
{
	z-index: 315;
	width: 440px;
	min-height: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#register
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 458px;
}

#u6570-7
{
	z-index: 322;
	width: 440px;
	min-height: 107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu5741-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: -7px;
}

#u5741-4
{
	z-index: 144;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u5742
{
	z-index: 148;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u5743
{
	z-index: 150;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u5744
{
	z-index: 149;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u5758-6
{
	z-index: 152;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5644-7,#u5758-2
{
	font-style: italic;
}

#u5758-3
{
	font-style: normal;
}

#hotelsandrestaurants
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 469px;
}

#u5759-4
{
	z-index: 158;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu6520-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 59px;
}

#u6520-4
{
	z-index: 172;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6521
{
	z-index: 176;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u6522
{
	z-index: 178;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6523
{
	z-index: 177;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#pu5758-6,#pu6525-26
{
	width: 0.01px;
	margin-top: 10px;
}

#u6525-26
{
	z-index: 180;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#tourism
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 469px;
}

#u6526-26
{
	z-index: 206;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu6541-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 54px;
}

#u6541-4
{
	z-index: 232;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6542
{
	z-index: 236;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u6543
{
	z-index: 238;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6544
{
	z-index: 237;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#pu6546-22
{
	width: 0.01px;
	margin-top: 11px;
}

#u6546-22
{
	z-index: 240;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6547-22
{
	z-index: 262;
	width: 440px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#gallery
{
	margin-left: 469px;
	margin-top: 37px;
	position: relative;
}

#slideshowu1326
{
	z-index: 27;
	width: 0.01px;
	height: 1356px;
	left: -139px;
	margin-top: 158px;
	position: relative;
}

#u1327
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1000px;
}

#u1327popup
{
	z-index: 28;
}

#u6402
{
	z-index: 29;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6402_img
{
	padding: 72px 138px 72px 137px;
}

#u6442
{
	z-index: 31;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6442_img
{
	padding-left: 145px;
	padding-right: 146px;
}

#u6462
{
	z-index: 33;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6682
{
	z-index: 35;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6702
{
	z-index: 37;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6702_img
{
	padding-left: 224px;
	padding-right: 225px;
}

#u6722
{
	z-index: 39;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6742
{
	z-index: 41;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6762
{
	z-index: 43;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6782
{
	z-index: 45;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6462_img,#u6742_img,#u6762_img,#u6782_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u6802
{
	z-index: 47;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6802_img
{
	padding-left: 249px;
	padding-right: 250px;
}

#u6822
{
	z-index: 49;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6842
{
	z-index: 51;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6682_img,#u6722_img,#u6822_img,#u6842_img
{
	padding-left: 223px;
	padding-right: 224px;
}

#u1346
{
	position: absolute;
	width: 1237px;
}

#u1346popup
{
	z-index: 53;
}

#u6408
{
	z-index: 54;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

#u6448
{
	z-index: 56;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#u6408:hover,#u6448:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6468
{
	z-index: 58;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 139px;
}

#u6688
{
	z-index: 60;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 407px;
}

#u6708
{
	z-index: 62;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 542px;
}

#u6708_img
{
	padding-left: 138px;
	padding-right: 139px;
}

#u6728
{
	z-index: 64;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 203px;
}

#u6748
{
	z-index: 66;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 619px;
}

#u6468:hover,#u6748:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u6768
{
	z-index: 68;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 812px;
	left: 139px;
}

#u6788
{
	z-index: 70;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 812px;
	left: 619px;
}

#u6768:hover,#u6788:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 812px -10000px 0px 0px;
}

#u6468_img,#u6748_img,#u6768_img,#u6788_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u6808
{
	z-index: 72;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 542px;
	left: 585px;
}

#u6708:hover,#u6808:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 542px -10000px 0px 0px;
}

#u6808_img
{
	padding-left: 149px;
	padding-right: 150px;
}

#u6828
{
	z-index: 74;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 757px;
}

#u6688:hover,#u6728:hover,#u6828:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 541px -10000px 0px 0px;
}

#u6688_img,#u6728_img,#u6828_img
{
	padding-left: 138px;
	padding-right: 138px;
}

#u6848
{
	z-index: 76;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1084px;
	left: 139px;
}

#u6848:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1084px -10000px 0px 0px;
}

#u1365-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1090px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u1365-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1365-3popup
{
	z-index: 78;
}

#u1345-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -31px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u1345-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u1345-3popup
{
	z-index: 81;
}

#u1363
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -561px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u1363:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

#pu6862-5
{
	width: 0.01px;
	margin-left: 225px;
	margin-top: -1465px;
}

#u6862-5
{
	z-index: 333;
	width: 401px;
	min-height: 53px;
	background-color: transparent;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6862
{
	font-weight: 500;
}

#u6863
{
	z-index: 338;
	width: 531px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u6865
{
	z-index: 340;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6864
{
	z-index: 339;
	width: 45px;
	height: 5px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u2163-9
{
	z-index: 2;
	width: 960px;
	min-height: 117px;
	background-color: transparent;
	margin-top: 212px;
	position: relative;
}

#u2163
{
	font-size: 17px;
	text-align: center;
	line-height: 24px;
}

#u5640-3,#u2163-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2163-3
{
	font-size: 36px;
	color: #FF0000;
	line-height: 65px;
}

#u2163-2,#u2163-4
{
	line-height: 23px;
}

#u2163-7
{
	font-size: 7px;
	line-height: 7px;
	letter-spacing: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

