	#u1183-4:hover
	{
		margin-left: 0px;
	}

	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 960px;
	}

	#pslideshowu75
	{
		width: 0.01px;
		margin-left: -100px;
	}

	#u77,#u4198
	{
		width: 1160px;
	}

	#u1180
	{
		min-height: 91px;
		padding-bottom: 6px;
	}

	#u1180_align_to_page
	{
		width: 960px;
		left: -100px;
	}

	#u1185-4
	{
		margin-top: 57px;
		left: 100px;
	}

	#u1185-4:hover
	{
		margin-left: 0px;
		margin-top: 57px;
	}

	#u1185-4.MuseLinkActive
	{
		margin-left: 0px;
		margin-top: 57px;
	}

	#pu1186
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 57px;
		margin-left: 289px;
	}

	#u1186
	{
		margin-right: -10000px;
	}

	#u1182-4
	{
		left: 193px;
	}

	#u1183-4.MuseLinkActive,#u1182-4:hover
	{
		margin-left: 0px;
	}

	#u5637-4
	{
		left: 386px;
	}

	#u1182-4.MuseLinkActive,#u5637-4:hover
	{
		margin-left: 0px;
	}

	#u5640-5
	{
		left: 578px;
	}

	#u5637-4.MuseLinkActive,#u5640-5:hover
	{
		margin-left: 0px;
	}

	#u5640-5.MuseLinkActive
	{
		margin-left: 0px;
	}

	#u1180-bw
	{
		min-height: 91px;
	}

	#pu1192-4
	{
		width: 0.01px;
		margin-left: 347px;
	}

	#u1192-4
	{
		left: 5px;
	}

	#u1997
	{
		left: 220px;
	}

	#u5645-4
	{
		margin-left: 302px;
		margin-top: 8px;
	}

	#u5764-4
	{
		margin-left: 227px;
		margin-top: 98px;
	}

	#u5772-4
	{
		margin-left: 195px;
	}

	#u5765,#u5773
	{
		width: 469px;
	}

	#u1294-4,#u6571-4
	{
		margin-left: 302px;
	}

	#pu5741-4
	{
		width: 0.01px;
		margin-left: 216px;
	}

	#pu6520-4
	{
		width: 0.01px;
		margin-left: 216px;
		margin-top: 59px;
	}

	#pu6541-4
	{
		width: 0.01px;
		margin-left: 216px;
		margin-top: 54px;
	}

	#page_position_content,#pu1182-4,#pu1191-4,#pu5643-20,#pu5765,#pu5773,#pu6569-7,#pu5758-6,#pu6525-26,#pu6546-22
	{
		width: 0.01px;/* should not cover content below */
	}

	#u1191-4,#u5643-20,#u6569-7,#u5758-6,#u6525-26,#u6546-22
	{
		width: 440px;
	}

	#u1196-4,#u5644-30,#u6562-17,#u6565-14,#u6570-7,#u5759-4,#u6526-26,#u6547-22
	{
		width: 440px;
		left: 520px;
	}

	#gallery
	{
		margin-top: 37px;
	}

	#slideshowu1326
	{
		left: -139px;
	}

	#pu6862-5
	{
		width: 0.01px;
		margin-left: 225px;
	}

	#u5741-4,#u6520-4,#u6541-4,#u6862-5
	{
		left: 63px;
	}

	#u5744,#u6523,#u6544,#u6864
	{
		left: 486px;
	}

	body
	{
		min-width: 960px;
	}

