#u4913
{
	vertical-align: top;
	background: transparent url("../../images/u4913.png") no-repeat 0px 0px;
}

#u4913:hover
{
	background: transparent url("../../images/u4913-r.png") no-repeat 0px 0px;
}

#u4913:active
{
	background: transparent url("../../images/u4913-m.png") no-repeat 0px 0px;
}

#u4907
{
	vertical-align: top;
	background: transparent url("../../images/u4907.png") no-repeat 0px 0px;
}

#u4907:hover
{
	background: transparent url("../../images/u4907-r.png") no-repeat 0px 0px;
}

#u4907:active
{
	background: transparent url("../../images/u4907-m.png") no-repeat 0px 0px;
}

#u4909
{
	vertical-align: top;
	background: transparent url("../../images/u4909.png") no-repeat 0px 0px;
}

#u4909:hover
{
	background: transparent url("../../images/u4909-r.png") no-repeat 0px 0px;
}

#u4909:active
{
	background: transparent url("../../images/u4909-m.png") no-repeat 0px 0px;
}

#u4911
{
	vertical-align: top;
	background: transparent url("../../images/u4911.png") no-repeat 0px 0px;
}

#u4911:hover
{
	background: transparent url("../../images/u4911-r.png") no-repeat 0px 0px;
}

#u4911:active
{
	background: transparent url("../../images/u4911-m.png") no-repeat 0px 0px;
}

#u4915-4
{
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	color: #191919;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u4916-4
{
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	color: #A5A5A5;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}


